header{
    background-color: var(--color-red);
    width: 100%;
    color: #FFF;
    text-align: center;
    display: grid;
    align-content: center;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
}

header h1{
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
}